.landing {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../assets/background-landing.png);
    background-color: #2f1893;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}
