.button{
    font-family: "DM Sans";
    font-size: 18px;
    font-weight: 500;
    border-radius: 100px;
    height: 60px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.3);
    border-width: 0;
    cursor: pointer;
}