.navbar{
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 40px;
}

.link{
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: font-size 0.3s ease;
}

.link:hover{
    font-size: 20px;

}

.selected{
    color: #ffffff4d;
}