.slide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.startup{
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}

.title{
    font-weight: 700;
    font-size: 72px;
    text-align: center;
}

.text{
    font-weight: 500;
    font-size: 22px;
    max-width: 730px;
    text-align: center;
}