.slide{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  justify-self: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 50px;

  & .startup{
    font-size: 24px;
    font-weight: 700;
  }

  & .title{
    font-size: 72px;
    font-weight: 700;
  }

  & .text{
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    max-width: 700px;
  }
}

.slider-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.slick-slider {
  max-width: 1200px; /* Максимальная ширина слайдера */
}

.slick-dots{
  .slick-active{
    .custom-dot{
      background-color: white;
    }
  }
  li{
    margin: 0;
  }
}

.slick-arrow{
  top: 36%
}

.slick-prev,
.slick-next {
  width: 40px;
  height: 40px;
  z-index: 1;
}

.slick-prev {
  left: 10px;
  svg{
    transform: rotate(180deg);
  }
}

.slick-next {
  right: 10px;
}

.slick-next::before {
  content: "";
}
.slick-prev::before {
  content: "";
}
